
<div class="fluid-container">
<div class="">
  <div class="col px-md-5">


    <div class="card">
      <div class="card-header">
        <h2>Create Account</h2>
      </div>
      <div class="card-body">
        {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}

        <form class="create" action="{% url 'users:newUser' %}" method="post">
          {% csrf_token %}

          <div class="form-group">
            <label for="question_name">Username</label><br>
            <input type="text" name="username" id="username" placeholder="username" required><br>
          </div>

          <div class="form-group">
            <label for="email">Email</label><br>
            <input type="text" name="email" id="email" placeholder="example@example.com" required><br>
          </div>

          <div class="form-group">
            <label for="option">Password</label><br>
            <input type="text" id="password" name="password" placeholder="strong password" required><br>
          </div>

          <input class='btn btn-success' type="submit" value="Create">

        </form>
      </div>
    </div>


  </div>
</div>
</div>
